@use '../../../../../assets/css/abstracts/mixin' as styles;
.container {
  display: flex;
  align-items: center;
  width: 150px;
  gap: 12px;
  .icon {
    font-size: 20px;
    color: var(--theme-green);
  }
  .label {
    @include styles.setLimitLine(2);
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
  }
}
