.container {
  position: relative;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  .cart {
    font-size: 24px;
    color: #078941;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: #ff7043;
    }
  }

  .cartCount {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(192, 23, 23);
    border: 2px solid #078941;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 13px;
    height: 13px;
    line-height: 20px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #ff7043;
    }
  }
}
