.container {
  box-shadow: #ddd 0px 0px 13px 5px;
  display: flex;
  align-items: center;
  .wrapper-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 48px 48px 10px 124px;
    .about {
      width: 280px;
      padding: 12px 20px;
      background-color: green;
      font-size: 40px;
      font-weight: bold;
      color: white;
    }
    .paragraph {
      font-size: 24px;
    }
    .button-read-more {
      width: 200px;
      height: 60px;
      border-radius: 12px;
      background-color: black;
      color: white;
      font-weight: 600;
    }
  }
  img {
    width: 50%;
  }
}
