@import '../../../../../assets/css/abstracts/mixin';

.container {
  max-width: 240px;
  @include setLimitLine(2);
  border-radius: 8px;
  color: #333;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
  * {
    font-size: 11px;
  }
}

.container:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
  color: blue;
}
