.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 8px 16px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pageItem {
  margin: 0 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: var(--admin-background-second);
    color: white;
    border-radius: 4px;
  }
}

.activePage {
  font-weight: bold;
  text-decoration: underline;
  color: var(--admin-background-second);
}

.navButton {
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: var(--admin-background-second);
    color: white;
    border-radius: 4px;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
