.content {
  font-family: 'DM Serif Display', serif;
}
.layout {
  background-image: url(190822-FARM-LANDSCAPE@2x_LE_auto_x2_light_ai.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
