/*** FONTS ***/
@import '../../../../../assets/css/abstracts/mixin';
// @import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);

$black: #1d1f20;
$blue: #c2e483;
$green: #edd656;
$yellow: #fd9832;
$white: #fafafa;

%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header_title {
    @include setLimitLine(1);
    cursor: pointer;
    font-weight: 600;
    color: #255946;
  }

  ol.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    padding-left: 0px;

    > li {
      background-color: rgb(255, 255, 255, 0.9);
      border-radius: 0 0.5rem 0.5rem 0.5rem;
      @extend %boxshadow;
      counter-increment: gradient-counter;
      margin-top: 1rem;
      padding: 6px;
      position: relative;
      .title {
        @include setLimitLine(1);
        font-weight: 800;
      }
      .content {
        @include setLimitLine(2);
        :hover {
          // text-decoration: underline;
          cursor: pointer;
        }
        * {
          font-size: 12px;
          color: rgb(5, 49, 122);
        }
      }
      &::before,
      &::after {
        background: linear-gradient(135deg, $blue 0%, $green 100%);
        border-radius: 1rem 1rem 0 1rem;
        content: '';
        height: 2rem;
        left: -1.5rem;
        overflow: hidden;
        position: absolute;
        top: -1rem;
        width: 2rem;
      }
      &::before {
        align-items: flex-end;
        @extend %boxshadow;
        content: counter(gradient-counter);
        color: $black;
        display: flex;
        font: 900 1.5em/1 'Montserrat';
        justify-content: flex-end;
        padding: 0.125em 0.25em;
        z-index: 1;
      }
      @for $i from 1 through 5 {
        &:nth-child(10n + #{$i}):before {
          background: linear-gradient(
            135deg,
            rgba($green, $i * 0.2) 0%,
            rgba($yellow, $i * 0.2) 100%
          );
        }
      }
      @for $i from 6 through 10 {
        &:nth-child(10n + #{$i}):before {
          background: linear-gradient(
            135deg,
            rgba($green, 1 - (($i - 5) * 0.2)) 0%,
            rgba($yellow, 1 - (($i - 5) * 0.2)) 100%
          );
        }
      }
      + li {
        margin-top: 2rem;
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 4px;
    width: 400px;
    label {
      flex: 0 0 auto;
    }
    .perpage_container {
      flex: 0 0 200px;
    }
    .pagination {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      .pageItem {
        margin: 0 5px;
      }
      .pageLink {
        padding: 4px 8px;
        cursor: pointer;
        text-decoration: none;
      }

      .pageLink:hover {
        background-color: #eee;
      }
    }
  }
  .active {
    text-decoration: underline;
  }
}
