.admin-avatar {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  // background-color: #1f1f1f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;

  &__image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4caf50;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
  }

  &__phone {
    font-size: 14px;
    color: #b0b0b0;
  }
}
