.container {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 0;
  &__avatar {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    object-fit: cover;
  }
  &__wrapperInfo {
    color: white;
    font-weight: 500;
    & :nth-child(1) {
      color: var(--core-text-white);
    }
  }
}
