@use '../../../../../assets/css/abstracts/mixin' as styles;

.container {
  @include styles.setLimitLine(1);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 240px;
  min-width: 100px;
  align-items: center;
  gap: 12px;
  * {
    font-size: 12px;
  }
}
