@use '../../../../../assets/css/abstracts/mixin' as styles;

.container {
  @include styles.setLimitLine(2);
  max-width: 240px;
  align-items: center;
  gap: 12px;
  .icon {
    font-size: 20px;
    color: #1877f2;
  }
  .label {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
  }
}
