.container-infor {
  display: flex;
  //   align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  .container-box {
    display: flex;
    gap: 6px;
    align-items: center;
    .box {
      width: 50px;
      height: 20px;
    }
  }
}
