@use "../../../../../assets/css/abstracts/mixin" as styles;
.container {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 12px;
  .icon {
    width: 20px;
    height: 20px;
    color: #1877f2;
  }
  .label {
    @include styles.setLimitLine(1);
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
  }
}
