@import '../../../../../assets/css/abstracts/mixin';

.container {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  gap: 24px;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  span {
    position: relative;

    &::before {
      content: 'đ';
      font-size: 0.75rem;
      position: absolute;
      top: 0;
      left: -10px;
      text-decoration: underline;
    }
  }
  .contentWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    .image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
    }

    .messageWrapper {
      .title {
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 4px;
        width: 100px;
        @include setLimitLine(2);
      }
      .voucher {
        color: #e53e3e;
        font-size: 0.875rem;
      }
    }
  }
  .unit_prices {
    font-size: 1rem;
    color: #2d3748;
    font-weight: 600;
    width: 100px;
    max-width: 100px;
  }

  .totalPrice {
    color: #e53e3e;
    font-weight: 700;
    font-size: 1rem;
    width: max-content;
  }

  .quantitySelector {
    width: 10%;
  }

  .deleteIcon {
    color: #e53e3e;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #c53030;
    }
  }
}
