.layout {
  padding: 64px 136px;
  height: 100vh;
}
.module {
  background-image: url(vector-illustration-of-rice-field-landscape_LE_auto_x2_light_ai_LE_auto_x2_light_ai_LE_auto_x2_light_ai_LE_auto_x2_light_ai.jpg);
  background-size: cover;
}
