$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;

%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  border-radius: 4px;
  ol.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    padding-left: 0px;
    > li {
      background-color: rgb(255, 255, 255, 0.7);
      border-radius: 0 0.5rem 0.5rem 0.5rem;
      @extend %boxshadow;
      counter-increment: gradient-counter;
      margin-top: 1rem;
      min-height: 3rem;
      padding: 1rem 1rem 1rem 3rem;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 600;
      &::before,
      &::after {
        background: linear-gradient(135deg, $blue 0%, $green 100%);
        content: '';
        height: 3rem;
        left: -1rem;
        overflow: hidden;
        position: absolute;
        top: -1rem;
        width: 3rem;
      }

      &::before {
        align-items: flex-end;
        @extend %boxshadow;
        content: counter(gradient-counter);
        color: $black;
        display: flex;
        font: 900 1.5em/1 'Montserrat';
        justify-content: flex-end;
        padding: 0.125em 0.25em;
        z-index: 1;
      }

      @for $i from 1 through 5 {
        &:nth-child(10n + #{$i}):before {
          background: linear-gradient(
            135deg,
            rgba($green, $i * 0.2) 0%,
            rgba($yellow, $i * 0.2) 100%
          );
        }
      }

      @for $i from 6 through 10 {
        &:nth-child(10n + #{$i}):before {
          background: linear-gradient(
            135deg,
            rgba($green, 1 - (($i - 5) * 0.2)) 0%,
            rgba($yellow, 1 - (($i - 5) * 0.2)) 100%
          );
        }
      }

      + li {
        margin-top: 2rem;
      }
    }
  }

  .container {
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 4px;
    display: flex;
    align-items: center;
    label {
      flex: 0 0 auto;
    }
    .perpage {
      flex: 0 0 200px;
    }

    .pagination {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      .pageItem {
        margin: 0 5px;
      }

      .pageLink {
        padding: 4px 8px;
        cursor: pointer;
        text-decoration: none;
      }

      .pageLink:hover {
        background-color: #eee;
      }
    }
  }
  .active {
    text-decoration: underline;
  }
}
