.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 48px 20px;
  border-radius: 6px;

  h1 {
    font-weight: 600;
    font-size: 36px;
    color: white;
  }

  img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    box-shadow: #000000 0px 0px 44px -27px;
  }

  .field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    label {
      flex: 0 0 150px; /* Set a fixed width for labels */
      text-align: right; /* Align text to the right */
      padding-right: 10px; /* Add some space between label and input */
    }

    input,
    select {
      flex: 1;
      border-radius: 6px;
      width: 100%;

      &::placeholder {
        font-weight: 500;
        color: rgba(118, 113, 113, 0.5);
      }
    }

    input[type="file"] {
      border: none;
      height: auto;
    }
  }

  .remember {
    color: white;
    margin-left: 10%;
    display: flex;
    align-items: center;
  }
}
