@import "../../../../../assets/css/abstracts/mixin";
.container {
  display: flex;
  gap: 24px;
  padding: 24px;
  width: 100%;
  .wrapper-img {
    width: 45%;
    height: 480px;
    img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .wrapper-message {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .title {
      font-size: 20px;
      @include setLimitLine(2);
    }
    .wrapper-statistics {
      display: flex;
      gap: 12px;
      color: rgba(128, 120, 120, 0.7);
      & > div {
        padding-right: 12px;
        border-right: 1px solid rgba(34, 25, 25, 0.5);
      }
    }
  }
}
