@import '../../../../../assets/css/abstracts/mixin';
.container {
  display: flex;
  gap: 24px;
  padding: 24px;
  width: 100%;
  .wrapper-img {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 45%;
    img {
      border-radius: 6px;
      width: 100%;
      height: 480px;
      object-fit: cover;
      margin-bottom: 24px;
    }
    .wrapper-statistics {
      display: flex;
      gap: 12px;
      color: rgba(128, 120, 120, 0.7);
      & > div {
        padding-right: 12px;
        border-right: 1px solid rgba(34, 25, 25, 0.5);
      }
    }
  }
  .wrapper-message {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .title {
      @include setLimitLine(2);
    }
  }
}
