@import '../../../../../assets/css/abstracts/mixin';
.container {
  width: 270px;
  height: auto;
  height: 100vh;
  padding: 24px 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container-catetory {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  gap: 12px;
  background-color: #f6f5f2;

  border: 1px solid rgb(30, 28, 28, 0.1);
  color: var(--theme-green-customer);
  font-weight: 500;
  .header-category {
    padding: 4px;
    color: #255946;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
  }
}
.containerPrices {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px 4px 0px 0px;
  gap: 12px;

  border: 1px solid rgb(30, 28, 28, 0.1);
  color: var(--theme-green-customer);
  font-weight: 500;
  background-color: #f6f5f2;
  .titlePrice {
    height: 50px;
    padding: 4px;
    color: #255946;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
  }
}
.container-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0px 0px;

  border: 1px solid rgb(30, 28, 28, 0.1);
  background-color: #f6f5f2;

  font-weight: 500;
  .header-products {
    padding: 4px;
    color: #255946;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
  }
  .products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-product {
      cursor: pointer;

      width: 100%;
      display: flex;
      align-items: center;
      height: 70px;
      padding: 4px;
      gap: 4px;
      .content-product {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
        span {
          color: rgb(110, 118, 115);
        }
        .product__prices {
          color: rgb(73, 167, 96);
          font-weight: 500;
        }
      }
      &:hover {
        background-color: rgb(173, 213, 113);
      }
      span {
        @include setLimitLine(1);
      }
      img {
        flex-shrink: 0;
        flex-grow: 0;
        width: 50px;
        height: 50;
        object-fit: cover;
      }
    }
  }
}
