.paginationContainer {
  display: flex;
  align-items: center;
  color: #bababa;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.paginationContainerDropdown {
  position: relative;
  margin-left: 10px;
  min-width: 140px;
  .css-1uccc91-singleValue {
    color: #8ca1a9 !important;
    font-weight: 600 !important;
    font-size: 12px;
    font-family: var(--font-family);
  }
}
