@use '../../../../../assets/css/abstracts/mixin' as styles;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px 12px;
  background-color: #f9f9f9;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #e6f7ff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  z .icon {
    font-size: 20px;
  }

  .label {
    width: max-content;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #333;
  }
}
