@import '../../../../../assets/css/abstracts/mixin';

.container {
  width: 200px;
  @include setLimitLine(1);
  border-radius: 8px;
  color: #333;
  font-weight: 500;
  padding: 4px 12px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.container:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
}
