.sc-braxZu {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.sc-elDIKY {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.rdt_TableRow {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.container-filter {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
