.container {
  .table {
    border-collapse: collapse;
    display: block;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    th,
    td {
      text-align: center;
    }

    .heading-container {
      .row-heading {
        th {
          box-sizing: border-box;
          padding: 8px 12px;
          height: 24px;
          font-size: 12px;
          font-weight: 800;
          color: black;
          text-transform: uppercase;
          letter-spacing: 1px;
          border-left: 1px solid #dee2e6;
          border-right: 1px solid #dee2e6;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
          transition: all 0.3s ease-in-out;
          &:first-child {
            padding: 0 24px;
            font-weight: 600;
            border-left: none;
            border-top-left-radius: 4px;
          }

          &:last-child {
            border-right: none;
            border-top-right-radius: 4px;
          }

          &:hover {
            background-color: #dee2e6;
            cursor: pointer;
          }
        }
      }
    }

    .body-container {
      .row-body {
        &:nth-child(even) {
          background-color: #f1f3f5;
        }

        &:hover {
          background-color: #dee2e6;
          cursor: pointer;
        }

        td {
          .wrapper-item {
            display: flex;
            align-items: center;
            gap: 12px;
          }
          padding: 24px 12px;
          color: #495057;
          font-size: 14px;
          border-left: 1px solid #dee2e6;
          border-right: 1px solid #dee2e6;

          &:first-child {
            padding: 0 24px;
            font-weight: 600;
            border-left: none;
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
.table-product {
  td {
    text-align: center;
  }
}
