@import "../../../../../assets/css/abstracts/mixin";

.container {
  display: flex;
  align-items: center;
  background-color: #f9f9f9; /* Nền nhạt để làm nổi bật nội dung */
  padding: 10px 15px;
  border-radius: 8px;
  gap: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.container:hover {
  transform: scale(1.05);
}

.icon {
  color: #4a90e2; /* Màu xanh làm điểm nhấn */
  font-size: 28px; /* Kích thước icon */
}

.title {
  width: 200px;
  color: #333; /* Màu chữ tối hơn để dễ đọc */
  font-weight: 600; /* Tăng độ đậm cho tiêu đề */
  @include setLimitLine(1);
}
