.container-infor {
  display: flex;
  align-items: center;
  gap: 12px;

  flex: 0 0 auto;
  .container-box {
    display: flex;
    gap: 6px;
    align-items: center;
    .box {
      width: 50px;
      height: 20px;
      span {
        width: max-content;
      }
    }
  }
}
.layout {
  //   height: 100%;
  //   background-color: blue;
  justify-content: center;
  height: 100px;
  display: flex;
  //   align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
}
