@use "../../../assets/css/abstracts" as abstracts;

.leftSideBar {
  width: 15%;
  height: 100vh;
  background-color: abstracts.$coreColorBlackAdmin;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;

  .wrapperTitle {
    display: flex;
    align-items: center;
    gap: 12px;

    .titleIcon {
      color: white;
      font-size: 22px;
      border: 1px solid white;
      padding: 6px;
      border-radius: 50%;
    }

    .titleText {
      text-align: center;
      font-size: 24px;
      color: white;
    }
  }

  .sidebarMenu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 500;

    .navbarItem {
      display: flex;
      align-items: center;
      height: 64px;
      padding: 6px 12px;
      border-radius: 6px;
      gap: 12px;
      cursor: pointer;
      color: white;

      &:hover {
        background-color: #465d73;
      }

      .icon {
        font-size: 18px;
      }

      .label {
        font-weight: 500;
      }

      .iconChevron {
        margin-left: auto;
        font-size: 13px;
      }
    }

    .activeSelect {
      box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0,
        inset rgba(255, 255, 255, 0.16) 0 1px;
    }
  }
}
