@use "../../../../../assets/css/abstracts/mixin" as styles;

.container {
  display: flex;
  align-items: center;
  gap: 8px; // Giảm khoảng cách giữa biểu tượng và mô tả
  padding: 8px 12px; // Thêm khoảng đệm cho container
  background-color: var(--light-gray); // Thêm màu nền nhẹ nhàng
  border-radius: 4px; // Bo tròn các góc
  transition: background-color 0.3s ease; // Thêm hiệu ứng chuyển đổi màu nền
  cursor: pointer; // Thêm con trỏ chuột khi hover
  width: 150px;
  &:hover {
    background-color: #3b82f6; // Thay đổi màu nền khi hover
  }

  .icon {
    width: 24px; // Tăng kích thước biểu tượng
    height: 24px;
    color: #3b82f6; // Màu xanh cho biểu tượng
    transition: color 0.3s ease; // Thêm hiệu ứng chuyển đổi màu cho biểu tượng
  }

  .description {
    @include styles.setLimitLine(1); // Giới hạn dòng cho mô tả
    font-size: 14px; // Tăng kích thước font chữ
    line-height: 20px; // Điều chỉnh line-height
    font-weight: 500;
    color: var(--dark-gray); // Thêm màu chữ
    transition: color 0.3s ease; // Thêm hiệu ứng chuyển đổi màu cho chữ

    .container:hover & {
      color: var(--white); // Thay đổi màu chữ khi hover
    }
  }
}
