@use "../../../assets/css/abstracts/index" as styles;
.container {
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  background-color: styles.$coreEededed;
  border-bottom: 1px solid #d9dee4;
}
