@use "../../../../../assets/css/abstracts/mixin" as styles;

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: var(--light-gray);
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;

  .icon {
    width: 26px;
    height: 24px;
    transition: color 0.3s ease;
  }

  .email {
    @include styles.setLimitLine(1);
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--dark-gray);
    transition: color 0.3s ease;

    .container:hover & {
      color: var(--white);
    }
  }
}
