.layout {
  min-height: 100vh;
  // background-image: url('https://img.freepik.com/free-photo/blue-surface-with-study-tools_23-2147864592.jpg?size=626&ext=jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
