@use '../../../../../assets/css/abstracts/mixin' as styles;
.container {
  // width: 200px;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 10px 0;
  .icon {
    width: 20px;
    height: 20px;
    color: rgb(23, 63, 128);
  }
  .label {
    @include styles.setLimitLine(1);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
}
