@mixin center-horizontal {
  display: flex;
  justify-content: center;
}
@mixin center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin display-vetical($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin center-position {
  position: absolute;
  display: flex;
  transform: translate(-50%, -50%);
  top: 50;
  left: 50;
}
