.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;

  span {
    width: max-content;
    font-weight: 500;
    font-size: 14px;
  }

  &:hover {
    background-color: #e0e0e0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
}
